@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  color: black;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.18;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-user {
  text-align: right;
}

.navigation-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.navigation-favorite {
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
}

.navigation-button {
  background-color: #756257;
  color: white;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

.main-page {
  background-color: #83B3D3;
  background-image: url("../images/intro/zigzag-image.svg"), url("../images/intro/index-background.jpg");
  background-size: auto, cover;
  background-position: bottom;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;

}

.intro {
  padding-left: 371px;
  padding-top: 51px;
  padding-right: 371px;

}

.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
}

.advantages-tagline {
  color: black;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;

}

.advantages-tagline-text {
  font-size: 22px;
  line-height: 1.64;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
}

.advantages-first-item {
  color: #ffffff;
  background-color: #83B3D3;

}

.inner-list {
  color: inherit;
}

.advantages-housing {
  background-color: hsl(204 48% 67% / 0.2);
}

.advantages-souvenirs {
  background-color: hsl(204 48% 67% / 0.12);
}

.advantages-second-item {
  background-color: #83B3D3;
  color: white;
}

.advantages-third-item {
  background-color: hsl(204 48% 67% / 0.12);

}

.advantages-fourth-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-fifth-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.appointment {
  text-align: center;
}

.appointment-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.button-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  background-color: #756257;
  border-radius: 10px;
}

.subscribe {
  color: white;
  background-image: url("../images/index-subscribe-background.jpg");
  width: 1200px;
  height: 411px;
  text-align: center;

}

.subscribe-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  line-height: 1.18;
}

.field {
  background: #F2F2F2;
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 1.44;
}

.subscribe-button {
  background-color: #83B3D3;
  color: white;
  width: 200px;
  height: 61px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-social-item {
  text-align: left;
}

.button-twitter {
  background-image: url("../images/tvitter-icon.svg");
  background-repeat: no-repeat;
}

.button-facebook {
  background-image: url("../images/facebook-icon.svg");
  background-repeat: no-repeat;
}

.button-youtube {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
}
.contact-phone{
  text-align: center;
}

.contact-phone-number {
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.3;
  text-transform: uppercase;
}

.about-text {
  text-align: right;
}

.search-form {
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: white;
}

.inner-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.3;
  color: #FFFFFF;
}

.breadcrumbs-main {
  background-image: url("../images/breadcrumbs/bradcrumbs-main.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.3;
}

.inner-subscribe-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
}

.reset-button {
  background-color: white;
  font-size: 18px;
  line-height: 1.3;
}

.search-results {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: left;

}

.filter-form {
  font-size: 18px;
  line-height: 1.3;
}

.filter-inner-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
}

.filter-button {
  font-size: 18px;
  line-height: 1.3;
}

.item-view {
  text-align: right;
}

.list-view {
  background-image: url("../images/view-catalog/view-mode-tile.svg");
  background-repeat: no-repeat;

}

.icon-view {
  background-image: url("../images/view-catalog/view-mode-slideshow.svg");
  background-repeat: no-repeat;

}

.table-view {
  background-image: url("../images/view-catalog/view-mode-1.svg");
  background-repeat: no-repeat;
}

.hotels-list {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;

}

.catalog-title {
  color: inherit;
  text-decoration: none;
}
.catalog-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: inherit;
}

.link-favorite {
  text-decoration: none;

}

.rating-hotel1 {
  background-image: url("../images/rating-stars/rating-stars-first.svg");
  background-repeat: no-repeat;
}

.rating-hotel2 {
  background-image: url("../images/rating-stars/rating-stars-second.svg");
  background-repeat: no-repeat;
}

.rating-hotel3 {
  background-image: url("../images/rating-stars/rating-stars-third.svg");
  background-repeat: no-repeat;
}

.rating-hotel4 {
  background-image: url("../images/rating-stars/rating-stars-fourth.svg");
  background-repeat: no-repeat;
}

.pagination {
  text-align: left;
}

.button-pagination {
  color: white;
  background-color: #83B3D3;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration: none;

}

.page-list {
  font-size: 18px;
  line-height: 1.3;
  text-align: right;
}

.page-list-form {
  text-align: right;
}
