@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: white;
  box-shadow: 0 0 15px #E5E5E5;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-header-logo {
  display: block;
  margin-left: 70px;
  margin-right: 47px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.18;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 37px;
}

.navigation-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.navigation-favorite {
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
}

.navigation-button {
  background-color: #756257;
  color: white;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.main-page {
  background-color: #83B3D3;
  background-image: url("../images/intro/zigzag-image.svg"), url("../images/intro/index-background.jpg");
  background-size: auto, cover;
  background-position: bottom, top;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.page-container {
  width: auto;
  margin: 0 auto;
}

.advantages {
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
  padding-top: 63px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-tagline {
  color: black;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;

}

.advantages-tagline-text {
  font-size: 22px;
  line-height: 1.64;
  padding-top: 31px;
  padding-bottom: 117px;
  margin: 0;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages-item {
  align-content: center;
  list-style-type: none;
}

.advantages-first-item {
  width: 100%;
  color: #ffffff;
  background-color: #83B3D3;
  margin: 0;
}

.inner-list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  list-style-type: none;
}

.advantages-housing {
  background-color: rgba(255, 255, 255, 0.8);
  flex-grow: 1;
  padding-top: 184px;
}

.advantages-housing-text {
  margin: 0;
  padding: 0 75px 79px;
}

.advantages-food {
  background-color: white;
  flex-grow: 1;
  padding-top: 184px;
}

.advantages-souvenirs {
  background-color: rgba(255, 255, 255, 0.8);
  flex-grow: 1;
  padding-top: 184px;
}


.advantages-second-item {
  background-color: #83B3D3;
  color: white;
  width: 100%;
  margin: 0;
}

.advantages-third-item {
  background-color: rgba(131, 179, 211, 0.12);
  flex-grow: 1;
  margin-top: 0;
}

.advantages-fourth-item {
  background-color: rgba(131, 179, 211, 0.2);
  flex-grow: 1;
  margin: 0;
}

.advantages-fifth-item {
  background-color: rgba(131, 179, 211, 0.12);
  flex-grow: 1;
  margin: 0;
}

.appointment {
  text-align: center;
}

.appointment-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 91px;
  margin: 0;
}

.appointment-inner-text {
  padding-top: 29px;
  padding-bottom: 56px;
}

.button {
  font-family: inherit;
}

.button-link {
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #756257;
  width: 575px;
  border-radius: 10px;
  padding: 15px 0;
}

.subscribe {
  color: white;
  background-image: url("../images/index-subscribe-background.jpg");
  text-align: center;
  margin-top: 93px;
}

.subscribe-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 94px;
  margin-top: 94px;
  margin-bottom: 0;
}

.subscribe-text {
  font-size: 22px;
  line-height: 1.18;
  padding-top: 29px;
  margin: 0;
}

.subscribe-form {
  padding-top: 46px;
  padding-bottom: 94px;
}

.field {
  background: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.44;
}

.subscribe-button {
  background-color: #83B3D3;
  color: white;
  font-size: 20px;
  line-height: 1.3;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.footer-social-item {
  width: 107px;
  margin-top: 50px;
  margin-right: 61px;
  margin-left: 72px;
}

.button-twitter {
  background-image: url("../images/tvitter-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
}

.button-facebook {
  background-image: url("../images/facebook-icon.svg");
  background-repeat: no-repeat;
}

.button-youtube {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
}

.contact-phone {
  text-align: center;
  width: 720px;
  margin-left: auto;
  margin-right: 53px;
}

.contact-phone-number {
  font-style: normal;
  color: black;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.3;
  text-transform: uppercase;
}

.about-text {
  margin-right: 72px;
  margin-left: auto;
}

.page-container {
  width: 1200px;
}

.page-inner-filter {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  font-family: inherit;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: white;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.filter-checkbox-container {
  margin-left: 111px;
  margin-right: 67px;
  width: 200px;
}

.filter-radio-container {
  margin-left: auto;
  margin-right: 167px;
  width: 200px;
}

.range-container {
  margin-left: auto;
  margin-right: 81px;
  width: 287px;
}

.inner-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.3;
  color: #FFFFFF;
  margin-top: 35px;
  margin-bottom: 5px;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-main {
  background-image: url("../images/breadcrumbs/bradcrumbs-main.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.3;
}

.filter-checkbox-container {
  margin: 0;
  padding: 0;
  border: none;

}

.filter-button {
  display: flex;
  margin-left: 71px;
  border: none;
}

.inner-subscribe-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
}

.reset-button {
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  line-height: 1.3;
}

.search-results {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: left;
  margin-top: 43px;
  margin-bottom: 63px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
}

.sorting-container {
  width: 287px;
  height: 48px;
  margin-top: 43px;
  margin-bottom: 63px;
  margin-left: 71px;
}

.user-menu {
  display: flex;

}

.view {
  list-style-type: none;
}

.filter-inner-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
}

.filter-button {
  font-size: 18px;
  line-height: 1.3;
}

.item-view {
  margin: 0;
  padding: 0;
}

.list-view {
  background-image: url("../images/view-catalog/view-mode-tile.svg");
  background-repeat: no-repeat;
}

.icon-view {
  background-image: url("../images/view-catalog/view-mode-slideshow.svg");
  background-repeat: no-repeat;
}

.table-view {
  background-image: url("../images/view-catalog/view-mode-1.svg");
  background-repeat: no-repeat;
}

.hotels-list {
  font-size: 18px;
  line-height: 1.3;
  padding-left: 72px;
  padding-right: 72px;
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;

}

.catalog-title {
  color: inherit;
  text-decoration: none;
}

.catalog-item {
  padding-left: 20px;
  list-style-type: none;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
}

.link-favorite {
  text-decoration: none;
}

.rating {
  background-color: rgba(242, 242, 242, 1);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  text-align: center; /* в макете указано, что эта надпись находится по центру */
  text-transform: uppercase;
}

.rating-hotel1 {
  background-image: url("../images/star.svg");
  background-repeat: repeat;
  width: 91px;
  height: 17px;
}

.rating-hotel2 {
  background-image: url("../images/star.svg");
  background-repeat: repeat;
  width: 68px;
  height: 17px;
}

.rating-hotel3 {
  background-image: url("../images/star.svg");
  background-repeat: repeat;
  width: 43px;
  height: 17px;
}

.rating-hotel4 {
  background-image: url("../images/star.svg");
  background-repeat: repeat;
  width: 43px;
  height: 17px;
}

.button-show-more {
  margin: 30px 0;
}

.pagination-list {
  display: flex;
  margin: 30px 0;
}

.pagination-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-pagination {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px;
  color: white;
  background-color: #83B3D3;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination:not(:last-child) {
  margin-right: 8px;
}

.page-list {
  font-size: 18px;
  line-height: 1.3;
  margin-right: 51px;
}

.page-list-form {

  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;

}

